@font-face {
  font-family: 'YourCustomFont';
  src: url('./fonts/Chillax-Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

  body {
  font-family: 'YourCustomFont',sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}





@tailwind base;
@tailwind components;
@tailwind utilities;



.small {
  font-size: 4px;

}

.amount {
  font-size: 2px;
}